# Core functionality - changes here should be rare!
/src/app.py                   @salicyl3301
/src/backend/database.py      @salicyl3301
/src/backend/routers/auth.py  @salicyl3301

# The frontend will need refactored soon to be more object oriented.
/src/static/   @salicyl3301
